<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootleg</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
</head>

<body>
  <header class="main-header">
      <h1>
        <a href="/">Bootleg</a>
      </h1>
        {{#if loggedIn}}
        <div class="button-logedin">
          <a href="/" class="btn"><i class='fa fa-home'></i></a>
          <a href="#" id="logout" class="btn"><i class='fa fa-sign-out'></i></a>
        </div>
        {{else}}
        <h1>
          <a href="/login" class="not-login">Login</a>
        </h1>
        {{/if}}
  </header>
  <main>
      {{{ body }}}
  </main>

  {{#if loggedIn}}
<script src="/javascript/log-out.js"></script>
  {{/if}}
<script src="/javascript/login.js"></script>
</body>
</html>