<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootleg</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
  
</head>

<body>
  <header class="main-header">
      <h1>
        
        <a href="/">Bootleg</a>
      </h1>
        {{#if loggedIn}}
        <a href="/">home</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <h1>
          <a href="/login" class="not-login">Login</a>
        </h1>n
        {{/if}}
  </header>
  <main>
      {{{ body }}}
  </main>

  {{#if loggedIn}}
<script src="./javascript/log-out.js"></script>
  {{/if}}
<script src="./javascript/login.js"></script>
</body>

</html>