<a href="/views/dashboard.handlebars" class="go-back"> &larr; Back to dashboard</a>
<br>
<br>

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <ol class="post-list">
            {{#each posts as |post|}}
            <li>
                {{> post-info post }}
            </li>
            {{/each}}
        </ol>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/public/javascript/comment.js"></script>
{{/if}}