<a href="/" class="go-back"> &larr; Back to dashboard</a>
<br>
<br>
<!--

    structure: 

    [USERNAME]                           [DATE POSTED]

    [IMG]


    [FORM FOR COMMENTATING] (like facebook)

    [COMMENT 1]
    [user who made comment]
    [COMMENT 2]
    [user who made comment]
    [COMMENT 3]
    [user who made comment]
    ETC
-->


{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}
