body {
    box-sizing: border-box;
    margin: 20px 75px 0 55px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
}
.container {
    margin: 50px 400px 0;
    border: solid 2px black;
    box-shadow: 10px 10px;
    border-radius: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}

a {
    text-decoration: none;
    color: black;

}

.main-header {
    display: flex;
    justify-content: space-between;
}

/* FORM STYLES */

.login-form, .signup-form {
    line-height: 40px;

}
.login-form {
    margin-bottom: 20px;
}

input {
    padding: 7px;
    margin: 7px 0;
    border-radius: 5px;
    font-weight: 700;
}
button[type=submit] {
    padding: 5px;
    width: 50%;
    background-color: white;
    font-weight: 700;
}


@media screen and (max-width: 580px) {
    .container {
        margin: 0
    }
}