body {
    box-sizing: border-box;
    margin: 20px 75px 0 55px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
   
}
.button-loggedin {
    display: flex;
}

.login-out-container {
    margin: 50px 400px;
    border: solid 2px black;
    box-shadow: 10px 10px;
    border-radius: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

a {
    text-decoration: none;
    color: black;

}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGIN/OUT FORM STYLES */

.login-form, .signup-form {
    line-height: 40px;

}
.login-form {
    margin-bottom: 20px;
}

input {
    padding: 7px;
    margin: 7px 0;
    border-radius: 5px;
    font-weight: 700;
}
button[type=submit] {
    padding: 5px;
    width: 50%;
    background-color: white;
    font-weight: 700;
}
.btn {
    font-size: 40px;
    margin-right: 20px;
}

/* POST STYLES */


ul {
    display: flex;
    padding-left: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    list-style-type: none;
}
.img-post {
    margin: 50px 0;
}
.username-post {
    margin-top: 50px;
    border: 2px black solid;
    font-size: 2rem;
    text-align: left;
    padding-left: 10px;
  
}
.img-post {
    margin: 20px 0;
}
img {
    height: auto;
    
}
/* Create New Post */
.crt-post {
   display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
.new-post-form {
    display: flex;
    flex-direction: row;
}
input[type=submit] {
   background-color: white;

}
.post-img, .post-capt {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Single Post Styles */


/* Comment styles */
h2,p {
    margin: 10px 0;
    padding-left: 10px;
}
p {
    font-family: sans-serif;
    letter-spacing: 1.5px;
    font-size: 25px;
}
.comt-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-top: 20px;
}
.comt-header {
    border: solid 2px grey;
    border-radius: 20px;

}
.toggle-comment-textarea {
    width: 180px
}
.delete-comment-form {
    display: flex;
    flex-wrap: wrap;
}
.test {
    margin: 100px 0;
    display: flex;
    justify-content: space-around;
}
.sp-title-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
.sp-img {
    align-self: center;
}
.caption {
    text-align: center;
    width: 500px;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-weight: 700;
    margin-bottom: 25px;
}
h5 {
    font-size: 1.2rem;
} 
.main-cpt {
    width: 35vw;
}

@media screen and (max-width: 580px) {
    .container, .post-container {
        margin: 0 ;
    }
    .username-post {
        font-size: 4.5vw;
    }
    .new-post-form{
        display: flex;
        flex-direction: column;
    }
    .test {
        flex-direction: column;
    }
    
}
